html {
    min-height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url(/img/attique.jpg) no-repeat;
    background-size: 100%;
    background-position: center;
    background-color: aliceblue;
    min-height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

form {
    padding: 20px;
    margin-top: 60px;
    width: 50%;
    text-align: center;
    display: inline-block;
}

form button {
    margin: 20px 0;
}

.google-btn {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    background: #ff5353;
}